.title {
    font-family: Georgia, serif;  
    font-size: 3em;         
    color: #333;                
    text-align: center;          

    letter-spacing: 2px;      
    border-bottom: 3px solid #FF4500; 
    padding-bottom: 10px;      
    margin: 30px 0; 
}
.subtitle{
    font-size: 1.5em; 
    border-bottom: none;
    margin: 10px 0
}
.minsubtitle{
    font-size: 1.2em
}

.grid-pane{
    display: grid;
}
.grid_flex_row{
    display: flex;
    flex-direction: row;
}
.row_3{
    grid-template-rows: 13% 45% 42%;  
}
.column_6{
    grid-template-columns: 10% 10% repeat(4,20%);
}

.column_fifty_fifty{
    grid-template-columns: 50% 50%;
}
.colunm_2{
    grid-template-columns: 60% 40%;
}

.horizontal_center {
    text-align: center;           /* Centraliza o conteúdo horizontalmente */
}
.div_kpis{
    background-color: #e74c3c;
    border: 4px solid black;
}

.btn {
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em; 
    color: #fff;
    background: #e74c3c; 
    cursor: pointer;
    padding: 5px 20px; 
    display: inline-block;
    margin: 10px 30px 10px auto; 
    text-transform: uppercase;
    letter-spacing: 0.5px; 
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s ease; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}
.btn:hover {
    background: #c0392b; 
}
.btn:active {
    background: #a8322a;
    top: 1px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}
.btn:before {
    content: '\f05a';
    font-family: 'FontAwesome';
    font-size: 1em; 
    margin-right: 5px; 
    position: relative;
    vertical-align: middle;
}


